{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
{% endblock %}

{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'commons:main' %}">Main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group' %}">Group list</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group_detail' group.pk %}">Group main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reservations:space_list' group.pk %}">Spaces</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reservations:space_detail' group.pk space.pk %}">Space
                detail</a></li>
            <li class="breadcrumb-item active" aria-current="page">Reservation detail</li>
        </ol>
    </nav>

    <div>Reservation #{{ reservation.pk }} in {{ reservation.space.name }}</div>
    <div>from: {{ reservation.dt_from }}</div>
    <div>to: {{ reservation.dt_to }}</div>

    {% if reservation.member == request.user or request.user == group.manager %}
        <div>
            <a href="{% url 'reservations:reservation_delete' group.pk space.pk reservation.pk %}">삭제</a>
        </div>
    {% endif %}
{% endblock %}