{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
{% endblock %}

{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'commons:main' %}">Main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group' %}">Group list</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group_detail' group.pk %}">Group main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reservations:space_list' group.pk %}">Spaces</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reservations:space_detail' group.pk space.pk %}">
                Space detail
            </a></li>
            <li class="breadcrumb-item active" aria-current="page">Space info update</li>
        </ol>
    </nav>

    <form action="{% url 'reservations:space_update' group.pk space.pk %}" method="post">
        {% csrf_token %}
        <select class="form-select" name="term">
            <option value="-1" selected>약관 없음</option>
            {% for term in terms %}
                <option value="{{ term.pk }}"
                        {% if term == current_term %}selected{% endif %}>{{ term.title }}</option>
            {% endfor %}
        </select>
        <select class="form-select" name="permission">
            <option value="-1" selected>요구 권한 없음</option>
            {% for permission_tag in permission_tags %}
                <option value="{{ permission_tag.pk }}"
                        {% if permission_tag == current_permission_tag %}selected{% endif %}>{{ permission_tag.body }}</option>
            {% endfor %}
        </select>
        <div class="mb-3">
            <label for="termTitleInput" class="form-label">Space name</label>
            <input type="text" class="form-control" id="termTitleInput" name="name" value="{{ space.name }}" required>
        </div>
        <input type="submit" value="Update!">
    </form>
{% endblock %}