{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
{% endblock %}

{% block body_content %}
    <div>Hi</div>
    <div>
        <a href="{% url 'reservations:space_create' group.pk %}">New space</a>
    </div>
    <div>
        <ul>
            {% for space in group.registered_spaces.all %}
                <li>
                    <div>
                        <a href="{% url 'reservations:space_detail' group.pk space.pk %}">
                            {{ space.name }} (term: {{ space.term.pk }} /
                            permission: {{ space.required_permission.body }})
                        </a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}