{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
{% endblock %}

{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'commons:main' %}">Main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group' %}">Group list</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group_detail' group.pk %}">Group main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms</li>
        </ol>
    </nav>
    <div>
        <ul>
            {% for term in registered_terms %}
                <li>{{ term.body }} (<a href="{% url 'reservations:term_delete' group.pk term.pk %}">Delete</a>) (<a
                        href="{% url 'reservations:term_update' group.pk term.pk %}">Update</a>)
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <a href="{% url 'reservations:term_create' group.pk %}">Create new term</a>
    </div>
{% endblock %}