{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
{% endblock %}

{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'commons:main' %}">Main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group' %}">Group list</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group_detail' group.pk %}">Group main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'reservations:term_list' group.pk %}">Terms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Term update</li>
        </ol>
    </nav>
    <form action="{% url 'reservations:term_update' group.pk target_term.pk %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="termTitleInput" class="form-label">Title</label>
            <input type="text" class="form-control" id="termTitleInput" name="title" value="{{ target_term.title }}"
                   required>
        </div>
        <div class="mb-3">
            <label for="termBodyInput" class="form-label">Content</label>
            <textarea class="form-control" id="termBodyInput" rows="3" name="body"
                      required>{{ target_term.body }}</textarea>
        </div>
        <input type="submit" value="Update!">
    </form>
{% endblock %}