{% extends 'base.html' %}
{% load static %}
{% load users_filters %}

{% block head_content %}
    <link href="{% static 'users/css/group_detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body_content %}
    <h1>{{ group.name }}</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nickname</th>
            <th>Permission</th>
            {% if group.manager == user %}
                <th>Manager operation</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for member in member_infos %}
            <tr class="{% if member|get_item:'is_manager' %}manager-row{% elif member|get_item:'blocked' %}blocked-row{% else %}default-row{% endif %}">
                <td>
                    <span class="user-status-emoji">
                        {% if member|get_item:'is_manager' %}
                            👑{% elif member|get_item:'blocked' %}🚫{% else %}✅{% endif %}
                    </span>
                    <span>
                        {{ member|get_item:'username' }}
                    </span>
                </td>
                <td>{{ member|get_item:'nickname' }}</td>
                <td>
                    {% if member|get_item:'is_manager' %}
                        <span class="badge rounded-pill bg-success">manager</span>
                    {% endif %}
                    {% for permission_tag in member|get_item:'permission_tags' %}
                        <span class="badge rounded-pill bg-primary">{{ permission_tag.body }}</span>
                    {% endfor %}
                </td>
                {% if group.manager == user %}
                    {# 그룹 사용자 퇴출 #}
                    <td>
                        <a href="{% url 'users:group_member_permission' group.pk member.pk %}">Permission</a>
                        {% if member|get_item:'username' != user.username %}
                            / <a href="#">Block</a>
                            / <a href="{% url 'users:group_member_kick' group.pk member|get_item:'pk' %}">Kick</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if group.manager == user %}
            {# 그룹 등록 요청 처리 #}
            {% for join_request in join_requests %}
                <tr class="join-requested-row">
                    <td>
                    <span class="user-status-emoji">
                        ⌛ {{ join_request.user.username }}
                    </span>
                    </td>
                    <td>{{ join_request.user.nickname }}</td>
                    <td>
                        <span class="badge rounded-pill bg-warning">waiting for accept</span>
                    </td>
                    <td>
                        <a href="{% url 'users:group_join_accept' group.pk join_request.user.pk join_request.pk %}">Accept</a>
                        /
                        <a href="{% url 'users:group_join_reject' group.pk join_request.user.pk join_request.pk %}">Reject</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div>
        <a class="btn btn-primary" href="{% url 'users:group_member_detail' group.pk user.pk %}">
            Modify member information
        </a>
    </div>

    {% if group.manager == request.user %}
        <div>
            <a href="{% url 'users:group_manage' group.pk %}">Goto managing page</a>
        </div>
        <div>
            <a href="{% url 'reservations:term_list' group.pk %}">약관 관리</a>
        </div>
    {% endif %}
{% endblock %}