{% extends 'base.html' %}
{% load static %}

{% block body_content %}
    <h3>관리중인 그룹 목록</h3>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>그룹명</th>
            <th>멤버 수</th>
            <th>공개 여부</th>
        </tr>
        </thead>
        <tbody>
        {% if groups_as_manager %}
            {% for group in groups_as_manager %}
                <tr>
                    <td>{{ group.pk }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.members.all|length }}</td>
                    <td>{% if group.is_public %}Y{% else %}N{% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">관리중인 그룹이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    <h3>소속된 그룹 목록</h3>
    <table class="table">
        <thead>
        <tr>
            <th>id</th>
            <th>그룹명</th>
            <th>멤버 수</th>
            <th>공개 여부</th>
        </tr>
        </thead>
        <tbody>
        {% if groups_as_member %}
            {% for group in groups_as_member %}
                <tr>
                    <td>{{ group.pk }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.members.all|length }}</td>
                    <td>{% if group.is_public %}Y{% else %}N{% endif %}</td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4" style="text-align: center;">소속된 그룹이 없습니다.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}