{% extends 'base.html' %}
{% load static %}

{% block head_content %}

{% endblock %}

{% block body_content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'commons:main' %}">Main</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group' %}">Group list</a></li>
            <li class="breadcrumb-item"><a href="{% url 'users:group_detail' group.pk %}">Group main</a></li>
            <li class="breadcrumb-item active" aria-current="page">Group Manager</li>
        </ol>
    </nav>
    <div>
        <form action="{% url 'users:group_manage' group.pk %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="groupNameInput" class="form-label">Group name</label>
                <input type="text" class="form-control" id="groupNameInput"
                       aria-describedby="groupNameHelp" name="name" value="{{ group.name }}" required>
                <div id="groupNameHelp" class="form-text">The group name must be unique.</div>
            </div>

            <div class="mb-3 col-2">
                <label for="groupInviteCodeInput" class="form-label">Invite code</label>
                <input type="text" class="form-control" id="groupInviteCodeInput" value="{{ group.invite_code }}"
                       disabled>
            </div>
            <div id="reissueInviteCodeBtn" class="btn btn-primary col-2"
                 requestURL="{% url 'users:group_reissue_invite_code' group.pk %}">Change invite code
            </div>

            <div class="mb-3 form-check form-switch">
                <input type="checkbox" class="form-check-input" id="isPublicCheck" name="is_public"
                       {% if group.is_public %}checked{% else %}{% endif %}>
                <label class="form-check-label" for="isPublicCheck">Is your group public?</label>
            </div>
            <button type="submit" class="btn btn-primary">Modify</button>
        </form>
    </div>
    {% if is_modify_failed is not None and is_modify_failed is True %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="modifyFailedToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <div id="modifyFailedToastEmoji">😢</div>
                    <strong id="modifyFailedToastStrongMsg" class="me-auto">Beep!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="modifyFailedToastBody" class="toast-body">
                    {{ modify_fail_message }}
                </div>
            </div>
        </div>
    {% elif is_modify_failed is not None and is_modify_failed is False %}
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="modifyFailedToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <div id="modifyFailedToastEmoji">🤩</div>
                    <strong id="modifyFailedToastStrongMsg" class="me-auto">Done!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div id="modifyFailedToastBody" class="toast-body">
                    Group's information is modified.
                </div>
            </div>
        </div>
    {% endif %}

    <hr>

    <div id="groupDeleteBtn" class="btn btn-danger">Delete Group</div>
    <div id="groupDeleteModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">IT IS IRREVERSIBLE!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'users:group_delete' group.pk %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            {#                            <div>To delete this group permanently, Type group name <b>{{ group.name }}</b> below.</div>#}
                            <div>This operation cannot be canceled!</div>
                        </div>
{#                        <div class="mb-3">#}
{#                            <input type="text" class="form-control" id="groupNameInput"#}
{#                                   name="name" placeholder="{{ group.name }}" required>#}
{#                        </div>#}
                        <div class="modal-footer">
                            <input id="groupDeleteConfirmBtn" type="submit"
                                   class="btn btn-danger" value="Delete"/>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'users/js/group_manage.js' %}"></script>
{% endblock %}