{% extends 'base.html' %}
{% load static %}

{% block body_content %}
    <form action="{% url 'users:group_search' %}" action="get" style="text-align: center;">
        <div class="mb-3" style="text-align: center;">
            <label for="inviteCodeInput" class="form-label">Search by invite code</label>
            <input type="text" class="form-control" id="inviteCodeInput" style="text-align: center;"
                   name="invite_code" required>
            <button type="submit" class="btn btn-primary">Search!</button>
        </div>
    </form>

    <hr>

    {% if search_complete is not None and not search_complete %}
        <p class="alert alert-danger" role="alert">
            Cannot find group!
        </p>
    {% elif search_complete is not None and search_complete %}
        <p class="alert alert-success" role="alert">
            {{ group.name }}
            {% if request.user in group.members.all %}
                <div>Your are already member of <a href="{% url 'users:group_detail' group.pk %}">this group</a></div>
            {% else %}
                <form action="{% url 'users:group_join_request' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="invite_code" value="{{ group.invite_code }}">
                    <input class="btn btn-success" type="submit" value="Submit">
                </form>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}